{% extends 'base.html' %}

{% block content %}

<h1>Current Teams</h1>

{% for team in teams %}

<section>
    <p>{{ team.team_name }}</p>
    <a href="/teams/index/{{ team.team_id }}/delete"></a>
    <form action="/teams/index/{{ team.team_id }}/delete" method='POST'>
        <input type = "submit" value = "Delete">
    </form>
    <form action="/teams/index/{{team.team_id}}/edit" method='POST'>
        <input type="submit" value ="Edit">
    </form>
</section>

<a href="/">Go home, ya bum</a>

{% endfor %}

{% endblock %}