{% extends 'base.html' %}

{% block content %}

<h2>Enter your team names</h2>

<form action="/teams/" method='POST'>
    <div>
        <label for="team1">Team 1</label>
        <input type="text" id="team1" name="team1">
    </div>
    <div>
        <label for="team2">Team 2</label>
        <input type="text" id="team2" name="team2">
    </div>
    <div>
        <label for="team3">Team 3</label>
        <input type="text" id="team3" name="team3">
    </div>
    <div>
        <label for="team4">Team 4</label>
        <input type="text" id="team4" name="team4">
    </div>
    <div>
        <label for="team5">Team 5</label>
        <input type="text" id="team5" name="team5">
    </div>
    <div>
        <label for="team6">Team 6</label>
        <input type="text" id="team6" name="team6">
    </div>
    <div>
        <label for="team7">Team 7</label>
        <input type="text" id="team7" name="team7">
    </div>
    <div>
        <label for="team8">Team 8</label>
        <input type="text" id="team8" name="team8">
    </div>
    <div>
        <label for="team9">Team 9</label>
        <input type="text" id="team9" name="team9">
    </div>
    <div>
        <label for="team10">Team 10</label>
        <input type="text" id="team10" name="team10">
    </div>
    <input type="submit">
</form>

<a href="/teams/index.html">Check out your teams</a>

{% endblock %}