<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>FixtureFixer</title>
</head>
<body>
    <main>
        <h1> FixtureFixer </h1>
        <h2>Fix your fixtures faster!</h2>  
    
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/teams">Teams</a>
                </li>
                <li>
                    <a href="/fixtures">Fixtures</a>
                </li>
            </ul>
        </nav>
    </main>
 
    <section>

        {% block content %}

        {% endblock %}
    </section>
 
    <footer>
        <h4>&#169 PavCo 2020</h4>
        <ul>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </footer>
</body> 
</html>