<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixture Fixer</title>
</head>
<body>
    <h1> Fixture Fixer </h1>
    <h2>Format your fixtures faster</h2>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users">Users</a>
                </li>
            </ul>
        </nav>
    <section>

        {% block content %}

        {% endblock %}
    </section>
    </main>
    <footer>
        <h4>&#169 PavCo 2020</h4>
        <ul>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </footer>
</body>
</html>