{% extends 'base.html' %}

{% block content %}

<h1>Name your new profile</h1>

<form action="/users" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit">
    </div>
</form>


{% endblock %}




<!-- <form action="/users/new_user" method = "POST" name="name">
    <div>
        <label name="name" for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type = "submit">
    </div>
</form> -->